## **Analisando o CSV**

In [ ]:
import pandas as pd


df = pd.read_csv(r'C:\Users\jamil\OneDrive\Área de Trabalho\Informix\scripts\SELECT_FROM_tbfis_hinfeletron_WHERE_EXTEND_tsatualizacao_YEAR_TO_202407111633-JeffTheSon.csv')
df

In [5]:
data = pd.to_datetime(df['tsatualizacao']).dt.date
data.unique()

## **Analisando Banco de dados da CEOS**

In [9]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

host = "ceos"
dbname = "teste_espaciais"
user = "postgres"
password = "postgres"
port = "5432"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')

try:
    query = "SELECT * FROM tbfis_hinfeletron"
    with engine.connect() as connection:
        result_df = pd.read_sql_query(sql=text(query), con=connection)
    print("Consulta realizada com sucesso e DataFrame armazenado na variável 'result_df'")
except SQLAlchemyError as e:
    print(f"Erro ao realizar consulta: {e}")
except Exception as e:
    print(f"Erro inesperado: {e}")

Consulta realizada com sucesso e DataFrame armazenado na variável 'result_df'

In [11]:
len(result_df)

1000

## **Analisando - Parquet**

In [1]:
import pandas as pd

df_20_cnpjs = pd.read_parquet(r'C:\Users\jamil\OneDrive\Área de Trabalho\Infomix-Sefaz\carga\result_output.parquet')
df_20_cnpjs

,sqnfeletronica,cnpj,dsproduto,vlproduto,qtproduto,vlbasecalcicms,sgunidmedcom
0,598301298,00289351000164,COND SPLIT GREE G-TOP INVERTER CONNECTION - GW...,5070.00,1.0,5070.00,UN
1,598301298,00289351000164,EVAP SPLIT GREE G-TOP INVERTER CONNECTION - GW...,2730.00,1.0,2730.00,UN
2,598320375,00388857000120,CARNE CHARQUE DT PARAISO 400G,122.30,10.0,122.30,UN
3,598320375,00388857000120,SALAME ITALIANO FATIADO DALIA 100G,93.48,12.0,93.48,UN
4,598363453,00388857000120,CARNE CHARQUE DT PARAISO 400G,122.30,10.0,122.30,UN
...,...,...,...,...,...,...,...
824,598360239,01115454000332,DORE LIMAO 06X2000 ML,34.52,2.0,34.52,PCT
825,598360242,01115454000332,CAJUI 12X250 ML,13.58,1.0,13.58,PCT
826,598360242,01115454000332,MORMAII PET 06X1000 ML,58.09,2.0,58.09,PCT
827,598360242,01115454000332,MORMAII PET 06X2000 ML,77.09,2.0,77.09,PCT
828,598360242,01115454000332,CAJUI 06X2000 ML,23.12,1.0,23.12,PCT